<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.kindling.shell3" android:versionCode="1" android:versionName="1">
    <uses-sdk android:minSdkVersion="31" android:targetSdkVersion="36" />
    <application android:label="Shell 3" android:hasCode="false"
        android:extractNativeLibs="false" android:allowBackup="false">
        <activity android:name="android.app.NativeActivity" android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
            <meta-data android:name="android.app.lib_name" android:value="main" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
