<?xml version="1.0" encoding="utf-8"?>
<!-- One activity, no permissions and so no network (PLT-03), no backup (PLT-08); turning the phone never restarts
     it, only the GL surface is resized (PLT-02, A2.5). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Kindling"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboard|keyboardHidden|navigation|uiMode|density|fontScale|layoutDirection|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
